.video-preview{
    margin-top: 30px;
    font-family: Roboto;
    width: 300px;
    margin-bottom: 30px;
    margin-left: 15px;
    display: inline-block;

}

.thumbnail{
    width: 300px;
    margin-bottom: 15px;
    cursor: pointer;
}

.video-description{
    display: grid;
    grid-template-columns: 50px 1fr;
    width: 100%;    
}

.video-info{
    font-family: Roboto;
    margin-left: 10px;
}

.channel-profile{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.channel-profilepic{
    width: 50px;
    border-radius: 26px;
    cursor: pointer;
}



.video-title{
    margin-bottom: 0px;
    vertical-align: top;
    margin-top: 0px;
    line-height: 18px;
    font-weight: 500;
    cursor: pointer;
}

.video-author{
    margin-top: 5px;
    margin-bottom: 0px;
    color: rgb(96, 96, 96);
    font-size: 13px;
    cursor: pointer;
}

.video-stat{
    margin-top: 2px;
    margin-bottom: 0px;
    color: rgb(96, 96, 96);
    font-size: 13px;
}